# GITIGNORE #

# temporary files
*.c~
*.o
*.o~
*.so
.\#*
\#*\#
*.swp
*.cpp~
*.hpp~*
*.gcno
*.gcda

# binaries
a.out

# IDE folders
.vs/
.vscode/
.idea/
.virtualenvs/
vgcore.*
cmake-build-debug/

# Project specifics
Makefile
*.db
build/